body{
    font-family:'Century Gothic', Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
}
/* Mise en forme du Header */
header{
    height: 100px;
}
h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}
/* Mise en forme de la barre de navigation */
nav{
    width: 100%;
    background: #424558;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav li{
    list-style: none;
    float: left;
}
nav a{
    display: inline-block;
    text-decoration: none;
    padding: 20px 30px;
    color: #FFF;
    text-transform: uppercase;
    font-size: 15px;
}
.table{
    display: table;
    margin: 0 auto;
}
.menu-ind:hover, .presentation{
    border-top: 5px solid #4c8;
    background-color: rgba(64, 200, 130, 0.15);
}
.menu-exp:hover, .parcours{
    border-top: 5px solid #f1dc4f;
    background-color: rgba(241, 211, 79, 0.15);
}
.menu-hob:hover, .competences{
    border-top: 5px solid #0070BB;
    background-color: rgba(000, 112,192, 0.15);
}
.menu-contact:hover, .recommandation{
    border-top: 5px solid #e44d26;
    background-color: rgba(228, 77, 38, 0.15);
}
nav li:hover a{
    padding: 15px 30px 20px 30px;
}
/* Footer */
footer{
    height: 80px;
    padding-top: 30px;
    text-align: center;
    background-color: #c5c5c5;
    border-top: 2px solid #AAA;
}
/* Main index*/
section{
    width: 100%;
    min-height: 300px;
    padding-bottom: 10px;
    margin-bottom: 10px; 
}
.sec{
    margin: 0 10%;    
}
.left{
    float: left;
    width: 30%;
}
.right{
    float: left;
    width: 70%;
}
.cleft, .cright, .sousleft, .sousright{
    width: 50%;
    float: left;
}
.sec::after,.exp::after,.reco::after{
    content: "";
    display: table;
    clear: both;
}
/* Main exp */
.orange{
    border-top: 5px solid #e47d26;
    background-color: rgba(228, 77, 38, 0.15);
    margin-bottom: 0px;
}
.rose{
    border-top: 5px solid #e44d96;
    background-color: rgba(228, 77, 128, 0.15);
    margin-bottom: 0px;
}
.leftexp{
    width: 45%;
    float: left;
}
.rightexp{
    width: 50%;
    float: left;
    margin-left: 5%;
}
.leftexp img{
    width: 100%;
    max-width: 400px;
}
/* Main contact */
.rouge{
    border-top: 5px solid #e44d26;
    background-color: rgba(228, 77, 38, 0.15);
}
/* Media Queries */
@media screen and (max-width: 780px){
   header{
       height: 50px;
   }
   h1{
       font-size: 28px;
       margin: 20px 0 0 0;
   }
   nav li a{
       font-size: 12px;
       padding: 10px;
   }
}